* {
	font-family: Tahoma, sans-serif ;
	color: darkolivegreen;
	background-color: antiquewhite;
	text-align: center;
	margin: 20px;
}

nav {
	background-color:darkseagreen;
	padding: 10px;
	margin: 10px;
}


li {
	display: block;
	padding: 5px;
}

